body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.boxcontainer {
  background: #7250ff;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uno {
  background: #f32bf3;
  height: 200px;
  width: 200px;
  border-radius: 15px;
}
