body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background: black;
}

.container {
  background: gray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.uno {
  background: #f32bf3;
  height: 200px;
  width: 200px;
  border-radius: 1rem;
}

.dos {
  background: #f23b00;
  height: 200px;
  width: 200px;
  border-radius: 1rem;
}
.tres {
  background: #df3;
  height: 200px;
  width: 200px;
  border-radius: 1rem;
}
